.App {
  text-align: center;
}

#quote-box{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h3{
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px #000;
}

h4{
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px #000;
}

.quote-con{
  width: 80vw
}

.button{
  position: fixed;
  bottom:10px;
  
  cursor: pointer;
  border-radius: 50%;
  width:30px;
  height:30px;
  padding:20px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px #000;;
  opacity:0.6;
}

.new-quote{
left:10px;
background-color:white;
}

.tweet{
  right:10px;
  background-color:white;

}

.button{
    display: flex;
  flex-direction: column;
  text-decoration: none;
  color:#000;
}

.button img{
  width:25px;
}